*{
    color: white;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 19px;
    text-align: justify;
}

body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column; 
    padding:40px;
    background: #1a0c2b;
}

.body-home{
    justify-content: center;
}

/*
======================
    INDEX 
======================
*/

.principal{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.principal img{
    width: 25%;
    height: 25%;
}

.titulo-principal{
    font-size: 100px;
}
.titulo-principal span{
    color: rebeccapurple;
}

.titulo-secundario{
    font-size: 35px;
}

.menu{
    margin-top: 50px;
}

.menu a{
    text-decoration: none;
    font-size: 25px;
    border-left: #F34DA9 3px solid;
    padding: 0 15px;
}

.menu a:first-child{
    border: none;
    padding-left: 0;
}

/*
======================
    SOBRE MIM 
======================
*/



.header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-header{
    display: flex;
    align-items: center;
}

.title-header img{
    width: 10%;
    height: 30%;
    margin-right: 15px;
}

.title-header h1{
    font-size: 50px;
}

.main-info{
    margin: 0 70px;

}

.link-icon{
    font-size: 25px;
}

.link-icon i:hover{
    color: #F34DA9;
}

/*
======================
    MEUS PROJETOS 
======================
*/
.main-card{
    display: flex;
    justify-content: space-between;
}

.card-projeto{
    background-color: #a013dd21;
    border: 4px #9F13DD solid;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    font-size: 30px;
}

.card-projeto h3{
    border-bottom: 1px #F34DA9 solid;
    padding: 20px 0;
    margin: 0;
}

/*
======================
    HABILIDADES 
======================
*/

.main-icon{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.icon i{
    font-size: 60px;
}

#react{
    color: rgb(55, 147, 253)
}

#js{
    color: rgb(252, 247, 0);
}

#html{
    color: orangered;
}

#css{
    color: blue;
    
}

#db{
    color: rgb(21, 158, 238);
}

#node{
    color: green;
}

/*
======================
    CONTATO 
======================
*/

.main-contatos{
    display: flex;
    justify-content: space-around;
}

.contatos1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contatos1 h2{
    font-size: 30px;
}

.contatos1 a {
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contatos1 a:hover{
    color: #F34DA9;
}

.icon-contatos, .fa-brands, .fab{
    font-size: 40px;
    color: #F34DA9;
    margin-right: 5px;
}

.icons-contatos{
    margin: 20px 0;   
}

.contatos2{
    width: 50%;
    max-width: 400px;
}

.contatos2 h2{
    font-size: 30px;
    text-align: center;
}

.input-grupo{
    display: flex;
    flex-direction: column;
}

.input-grupo label{
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.input-grupo input, .input-grupo textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #1a0c2b;
    box-sizing: border-box;
}

.enviar-form{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #F34DA9;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.enviar-form:hover{
    background-color: #F34DA987;
}

/*
======================
    RESPONSIBIDADE 
======================
*/
@media only screen and (max-width: 600px) {
    .titulo-principal{
        font-size: 37px;
        text-align: cebter;
    }

    .principal{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .principal img{
        width: 50%;
    }

    .titulo-secundario{
        font-size: 17px;
        text-align: center;
    }

    .menu a {
        border-bottom: #F34DA9 3px solid;
        font-size: 20px;
        display: block;
        flex-direction: row;
        padding: 0;
        border-left: none;
        margin: 10px;
    } 

    .menu a:first-child{
        border-bottom: #F34DA9 3px solid;
    }

    .title-header h1{
        font-size: 30px;
    }

    body{
        padding: 0 20px;
    }   

    .main-info{
        margin: 0 20px;
    }

    .main-card{
        flex-direction: column;
    }

    .card-projeto{
        width: auto;
        margin-bottom: 15px;
    }

    .card-projeto h3{
        font-size: 20px;
        padding: 5px 0;
    }

    .main-icon{
        flex-direction: column;
        margin-top: 10px ;
    }

    .icon{
        margin-bottom: 20px;
    }

    .main-contatos{
        flex-direction: column-reverse;
    }
}


@media only screen and (min-width: 600px) {}


@media only screen and (min-width: 768px) {}


